@let p = product();
@let discountedPrice = p.price * (1 - p.discount) | currency;
<div class="details">
  <img [src]="getImageUrl(p)" [alt]="p.name" />
  <div>
    <h2>{{ p.name }}</h2>
    <p>{{ p.description }}</p>
    <p>
      Part Type:
      @switch(p.category) {
        @case('heads') {
          Head
        }
        @case('arms') {
          Arm
        }
        @case('bases') {
          Base
        }
        @case('torsos') {
          Torso
        }
        @default {
          {{ p.category }}
        }
      }
    </p>
    @if(p.productNotes; as notes) {
      <p>Product Notes: {{ notes }}</p>
    }
    <p>
      Available Inventory: {{ availableInventory() }}
      @if (availableInventory() === 1) {
        <span class="pill red">Only one left!</span>
      } @else if (availableInventory() < 1) {
        <span class="pill red">Out of stock!</span>
      } @else if (availableInventory() < 5) {
        <span class="pill yellow">Few Left</span>
      } @else  {
        <span class="pill">Get yours today</span>
      }
    </p>
  </div>
</div>
<div class="price">
  <p [ngClass]="getPriceClasses()">{{ p.price | currency }}</p>
  @if (p.discount > 0) {
  <p>{{ discountedPrice }}</p>
  }
  <button class="cta" (click)="addToCart()">Buy</button>
</div>