@let p = product();
@let discountedPrice = p.price * (1 - p.discount) | currency;
<div class="details">
  <img [src]="getImageUrl(p)" [alt]="p.name" />
  <div>
    <h2>{{ p.name }}</h2>
    <p>{{ p.description }}</p>
    <p>Part Type: {{ p.category | categoryToPartType : true }}</p>
    @if(p.productNotes; as notes) {
      <p>Product Notes: {{ notes }}</p>
    }
    <p>
      Available Inventory: {{ availableInventory() }}
      <span class="pill" [class.red]="availableInventory() < 5">
        {{ availableInventory() | i18nPlural:inventoryMap }}
      </span>
    </p>
  </div>
</div>
<div class="price">
  <p [ngClass]="getPriceClasses()">{{ p.price | currency }}</p>
  @if (p.discount > 0) {
  <p>{{ discountedPrice }}</p>
  }
  @if (mode() === 'shop') {
    <button class="cta" (click)="add()">Buy</button>
  } @else {
    <button class="remove" (click)="remove()">Remove</button>
  }
 
</div>