<div class="filters">
  <button (click)="categoryFilter='heads'">Heads</button>
  <button (click)="categoryFilter='arms'">Arms</button>
  <button (click)="categoryFilter='torsos'">Torsos</button>
  <button (click)="categoryFilter='bases'">Bases</button>
  <button (click)="categoryFilter=null">All</button>
  <button (click)="addProduct()">Add New</button>
  
</div>
<ul>
  @for (product of products | filterByCategory:categoryFilter; track product.id; let idx = $index, count = $count, even = $even, odd = $odd,
    first=$first, last=$last) {
  <li [class.alt]="odd" [class.top]="first">
    <div>Product {{ idx + 1 }} of {{ count }}</div>
    <bot-product-details mode="shop" (addToCart)="addToCart($event)" [product]="product" />
  </li>
  }
</ul>